*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
ul{
   list-style: none;
}
a{
    text-decoration: none;

}
.body_header{
    float: left;
    width: 10%;
    
    margin-left: 5%;
    margin-top: 2%;
    position: relative;
}
.hamberger{
    position: absolute;
    left: 2%;
    
    
    
    visibility: hidden;
}
.shopingicon{
    position: absolute;
    right: 10%;
    
    
    visibility: hidden;
}
.wrap_continer{
    display: flex;
    flex-direction: column;
    
}

.header_logo a{
    
    font-size: 50px;
    text-transform: capitalize;
    color: #000;
}
.header_nav{

    display: flex;
    flex-direction: column;
}
.nav_list{
     
    
    text-transform: capitalize;
    margin-top: 60px;
}
.header_nav a{
    color: rgb(85, 76, 76);
}

.btn {
    margin-top: 40px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    border: none;

    color: wheat;
    text-align: center;

}
.body_continer{
    float: right;
    width: 80%;
    position: relative;

}
.continer_text{
    float: left;
    /* width: 70%; */
    
    justify-content: center;
    margin-top: 10%;
    justify-content: space-around;
}
.text_header{
    width: 70%;
}
.text_header h1{
   
    font-size: 80px;
}
.text_defination{
    position: absolute;
    float: right;
    width: 30%;
    margin-top: 150px;
    right: 0;
    
}
.text_defination p{
    
    font-size: 20px;
    margin-bottom: 10px;
}
.text_defination p::after{
    content: "";
    width: 40%;
    height: 2px;
    
    background-color: red;

    left: 0%;
    bottom: 0;
    position: absolute;
}
.continer_items{
    display: flex;
    flex-wrap: unset;
    
    
    margin-top: 80px;
    width: 100%;
    height: 100%;
    
}
.card{
    
    
    margin-left: 10px;
    background-color: white;
    width: 200PX;
    height: 200px;
    border-radius: 20%;
    position: relative;

    text-align: center;
}
img{
    width: 80%;
    height: 60%;
    border-radius: 50%;
    margin-top: 20px;
}
.card_text{
    position: absolute;
    bottom: 10%;
    right: 30%;
    background-color: white;
    color: #000;
    
}

/* media queries */

@media(max-width: 574px){
    .wrap_continer{
        width: 96%;
    }

    .body_header{
        width: 100%;
    }
    .hamberger{

        font-size: 30px;
        color: red;
        visibility: unset;
    }
    .shopingicon{
        font-size: 30px;
        color: red;        
        visibility: unset;
    }
    .header_logo {
        text-align: center;
        
    }
    .header_nav{
        display: none;
    }
    .header_logo a{
        font-size: 30px;
    }
    .header_logo a p{
        display: none;
    }

    .body_continer{
        width: 96%;
    
    }
    .text_header{
        width: 90%;
    }
    .text_header h1{
        font-size: 40px;
        
    }
    .continer_items{
        display: flex;
        flex-wrap: wrap;
        
    }
    .card{
        margin-top: 30px;
    }
    .card1{
        display: none;
    }
    .text_defination {
        position: unset;
        width: 96%;
        margin-top: 50px;
        
    }
    .text_defination p::after{
        content: "";
        width: 20%;
        height: 2px;
        
        background-color: red;
    
        left: 4%;
        bottom: 0;
        position: absolute;
    }

  
}
/* mediam screan */
@media(min-width: 575px) and (max-width: 768px){
    .wrap_continer{
        width: 96%;
    }

    .body_header{
        width: 100%;
    }
    .hamberger{

        font-size: 40px;
        color: red;
        visibility: unset;
    }
    .shopingicon{
        font-size: 40px;
        color: red;        
        visibility: unset;
    }
    .header_logo {
        text-align: center;
        
    }
    .header_logo a{
        font-size: 40px;
    }
    .header_logo a p{
        display: none;
    }
    .header_nav{
        display: none;
    }
    .body_continer{
        width: 96%;
    
    }
    .text_header{
        width: 90%;
    }
    .text_header h1{
        font-size: 60px;
        
    }
    .continer_items{
        display: flex;
        flex-wrap: wrap;
        
    }
    .card{
        margin-top: 30px;
    
    }
    .text_defination {
        position: unset;
        width: 96%;
        margin-top: 50px;
        
    }
    .text_defination p::after{
        content: "";
        width: 20%;
        height: 2px;
        
        background-color: red;
    
        left: 4%;
        bottom: 0;
        position: absolute;
    }

}
